*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    background-color: black;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 250px;
    background-color: orangered;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2{
    background: none;
    color: white;
}
